<div class="main center">
    <ol>
        <li>
            <p><b>Can I use WebAssembly in any browser?</b></p>
            <p> All four major browsers (Google Chrome, Firefox, Safari and Edge) are capable of running code compiled to the wasm format on the web.</p>
        </li>
        <li>
            <p><b>Where can I learn more?</b></p>
            <p> This tutorial was taken from <a href="https://rustwasm.github.io/book/game-of-life/hello-world.html">here</a> so you can look there for 
                more details. Also you can visit the <a href="https://webassembly.org/">official website </a>of WebAssembly</p>
        </li>
        <li>
            <p><b>Who created this tutorial?</b></p>
            <p> This tutorial was created by <a href="https://github.com/karol22">Karol Gutierrez</a> and <a href="https://github.com/memoherreraacosta">Guillermo Herrera</a>.</p>
        </li>
    </ol>
    
</div>
    