<div class="main center">
    <h1>Getting started with WebAssembly and Rust</h1>
    <p>In order to compile Rust to WebAssembly we need do the following: </p> 
    <p><b>Requirements</b></p>
    <ol>
        <li>
            Install the standard Rust toolchain, including 
            <code>rustup</code>,
            <code>rustc</code> and 
            <code>cargo</code>
        </li>
        <li>
            <code>wasm-pack</code>
        </li>
        <li>
            <code>cargo-generate</code>
        </li>
        <li>
            <code>npm</code>
        </li>
    </ol>
    <p><b>Instructions</b></p>
    <ol>
        <li>
            Install Rust in your machine <code>this is a code </code>
        </li>
    </ol>
    
</div>