<div class="main center">
    <h1>Getting started with WebAssembly and Rust</h1>
    <p>In order to compile Rust to WebAssembly we need do the following: </p> 
    <p><b>Requirements</b></p>
    <ol>
        <li>
            Install the standard Rust toolchain, including 
            <code>rustup</code>,
            <code>rustc</code> and 
            <code>cargo</code>
        </li>
        <li>
            <code>wasm-pack</code>
        </li>
        <li>
            <code>cargo-generate</code>
        </li>
        <li>
            <code>npm</code>
        </li>
    </ol>
    <p><b>Instructions</b></p>
    <ol>
        <li>
            Clone this repo <code>cargo generate --git https://github.com/rustwasm/wasm-pack-template</code> and use the name "wasm-game-of-life" when asked.
        
        </li>
        <li>
            Change directory <code>cd wasm-game-of-life</code> and 
        </li>
        <li>
            Run this command in the directory <code>wasm-pack build</code>.
        </li>
        <li>
            Run this command within the wasm-game-of-life directory:  <code>npm init wasm-app www</code>.
        </li>
        <li>
            Open up wasm-game-of-life/www/package.json and edit the "dependencies" to include a "wasm-game-of-life": "file:../pkg" entry:
            <div class='center'>
                <pre>
&#123;
    // ...
    "dependencies": &#123;
        "wasm-game-of-life": "file:../pkg", // Add this line!
    // ...
    &#125;
&#125;                  
                </pre>  
            </div>
        </li>
	<li>
		First, ensure that the local development server and its dependencies are installed by running <code>npm install</code>  within the <code>wasm-game-of-life/www</code> subdirectory:

                <code>npm install</code>
	</li>
	<li>
            To take the package <code>wasm-game-of-life</code> and use it in a web page, you can use this <a href='https://github.com/rustwasm/create-wasm-app'>Javascript template</a>.
        </li>
        <li>
            Next, modify wasm-game-of-life/www/index.js to import wasm-game-of-life instead of the hello-wasm-pack package:
            <br>
            <code>import * as wasm from "wasm-game-of-life";
            </code>
            <br>
            <br>
            <code>wasm.greet();
            </code>
        </li>
        <li>
            Since we declared a new dependency, we need to install it:
            <br>
            <br>
            <code>npm install</code>
            <br>
            <br>
            To serve locally: 
            <code>npm run start</code>
        </li>
        <li>
           Within <code>wasm-game-of-life/www</code> run <code>npm run start</code> , you will see the Greeting message at localhost:8080.
        </li>
    </ol>
    <img class="center" src="https://rustwasm.github.io/book/images/game-of-life/hello-world.png" />
    <p>Congratulations, this is the end of the tutorial!</p>
    
</div>
