/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto';
    font-size: 20px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    padding: 23px;
    display: grid;
    grid-template-columns: 25% auto;

    a {
        color: #fff;
    }
}